#map{
    height: 600px;
}

.leaflet-label {
    position: absolute;
    width:250px;
    text-align: center;
    font-size:13px;
    text-shadow: white 0.0em 0.0em 0.2em, white 0.0em 0.0em 0.2em, white 0.0em 0.0em 0.2em;
    font-weight: bold;
}
